
/* Standard CSS file for Raxref */

/* Author: Dietrich Raisin, info1@raisin.de */
/* License: see LICENSE file */

html {
    /*  For "4.01 Transitional"++, body inherits from html :-/.
        As far as I understand, html[height] shouldn't even exist, but
        apparently it does (at least in FF3) and it's default value is auto.
    */
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*  Switch to sane box model. Without this, AFAIK there is NO way to work
    with 100% height for layout AND using paddings + margins simultaniously.
*/
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.round-corners {
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
}

#slots {
    height: 100%;
    white-space: nowrap;
}

.slot {
    display: inline-block;
    vertical-align: top;        /* Without: strange behaviour of Safari */
    width: 40%;
    height: 100%;
    border: 2px solid #FFF;
}

.slot-i {
    height: 100%;
    padding: 0.5em;
    padding-top: 3.5em;
}

/*****************************************************************************
    Head
 *****************************************************************************/

.head-cc {
    position: relative;
    width: 100%;
    height: 0;
}

.head-c {
    position: absolute;
    top: -2.5em;
    width: 100%;
    height: 2em;
    overflow: hidden;
}

.head {
    font-size: 123%;
}

/*****************************************************************************
    Filter
 *****************************************************************************/

.filter-c {
    position: relative;
    width: 100%;
    height: 0;
    display: none;
}

.filter {
    position: absolute;
    top: -3.5em;
    width: 100%;
    padding: 0.5em;
    max-width: 10em;
    height: 3em;
    overflow: hidden;
    border: 2px solid #FFF;
}

.filter .closer {
    width: 20%;
    padding-left: 0.5em;
    display: inline-block;
    max-width: 1.5em;
    cursor: pointer;
}

.filter .search-input {
    width: 70%;
    max-width: 10em;
    height: 1.5em;
    padding: 0;
    margin: 0;
}

/*****************************************************************************
    Body
 *****************************************************************************/

.body-c {
    position: relative;
    width: 100%;
    height: 100%;
}

.body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 0.5em;
    overflow: auto;
    border: 2px solid #000;
}

/*****************************************************************************
    Filter visible modifications
 *****************************************************************************/

.filter-on .slot-i {
    padding-top: 7em;
}

.filter-on .head-c {
    top: -6em;
}

.filter-on .filter-c {
    display: inherit;
}

/*****************************************************************************
    Slot type specific stuff
 *****************************************************************************/

.slot b {
    font-weight: normal;

    /* FIXME: color */
    background-color: #E4E4E4;
    cursor: pointer;
}

.slot b.over {

    /* FIXME: color */
    xx-background-color: #F66 !important;
}

.slot.project  { width: 12%; }
.slot.section  { width: 16%; }
.slot.file     { width: 38%; }
.slot.xref     { width: 34%; }

.slot .hover {

    /* FIXME: color */
    x-background-color: #BBF !important;
}

.slot h1 {
    font-size: 123%;
    font-weight: normal;

    /* FIXME: color */
    border-bottom: 2px solid #CCC;
    margin-bottom: 0.25em;
}

/* FIXME: .slot.xref */

.body .xref ol, .body .section ol {
    padding: 0;
}

.body .xref li, .body .section ol {
    list-style-position: inside;
    list-style-type: none;
}

/*****************************************************************************
    Code
 *****************************************************************************/

.code {
    line-height: 110%;
}

.code li {
    font-family: Consolas, "Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    white-space: pre;
}

.code i,
.code i b {
    font-weight: bold;
    font-style: normal;
    color: #600;
}

.code li .line_no {
    background-color: #E4E4E4;
    display: block;
    float: left;
    width: 4em;
    text-align: right;
    margin-right: 1em;
    cursor: pointer;
}

.code li .loading {
    color: #888;
}

/** POD STUFF **/

.code .doc {
    border-left: 0.5em solid #FC7;
    padding-left: 1em;
}

/* FIXME: Rename to POD */
.code .doc-start {
    padding-top: 0.5em;
    margin-top: 0.5em;
    border-top: 0.5em solid #FC7;
}

.code .doc-head1,
.code .doc-head2,
.code .doc-item {
    line-height: 146%;
}

.code .doc-head1 .doc-i,
.code .doc-head2 .doc-i,
.code .doc-item .doc-i {
    font-size: 118%;
    font-weight: bold;
}

.code .doc-end {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 0.5em solid #FC7;
}

/*****************************************************************************
    EOF
 *****************************************************************************/
